.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.input label {
  margin-top: 1rem;
}
.input input,
.input textarea {
  padding: 1rem;
  border-radius: 32%;
  font-size: 2rem;
}
.input textarea {
  resize: none;
}
.input input:focus,
.input textarea:focus {
  border-radius: 16%;
  outline: none;
}